In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [31]:
file_path = r"C:\CareerFoundary\Achivement 4.9\data\Original Data\customers.csv"
df_customers = pd.read_csv(file_path)
print(df_customers.head())

   user_id First Name    Surnam  Gender       STATE  Age date_joined  \
0    26711    Deborah  Esquivel  Female    Missouri   48    1/1/2017
1    33890   Patricia      Hart  Female  New Mexico   36    1/1/2017
2    65803    Kenneth    Farley    Male       Idaho   35    1/1/2017
3   125935   Michelle     Hicks  Female        Iowa   40    1/1/2017
4   130797        Ann   Gilmore  Female    Maryland   26    1/1/2017

   n_dependants fam_status  income
0             3    married  165665
1             0     single   59285
2             2    married   99568
3             0     single   42049
4             1    married   40374

In [33]:
#Rename Columns for Clarity
df_customers.rename(columns={
    'First Name': 'first_name',
    'Surnam': 'last_name',  
    'Gender': 'gender',
    'STATE': 'state',  
    'Age': 'age',
    'date_joined': 'date_joined',
    'n_dependants': 'num_dependents',  
    'fam_status': 'family_status',
    'income': 'annual_income'
}, inplace=True)

In [35]:
print(df_customers.head())

   user_id first_name last_name  gender       state  age date_joined  \
0    26711    Deborah  Esquivel  Female    Missouri   48    1/1/2017
1    33890   Patricia      Hart  Female  New Mexico   36    1/1/2017
2    65803    Kenneth    Farley    Male       Idaho   35    1/1/2017
3   125935   Michelle     Hicks  Female        Iowa   40    1/1/2017
4   130797        Ann   Gilmore  Female    Maryland   26    1/1/2017

   num_dependents family_status  annual_income
0               3       married         165665
1               0        single          59285
2               2       married          99568
3               0        single          42049
4               1       married          40374

In [37]:
# Drop Irrelevant Columns
df_customers.drop(columns=['first_name', 'last_name'], inplace=True)

In [39]:
# Identify missing values
print(df_customers.isnull().sum())

user_id           0
gender            0
state             0
age               0
date_joined       0
num_dependents    0
family_status     0
annual_income     0
dtype: int64

In [41]:
#convert data type
df_customers['date_joined'] = pd.to_datetime(df_customers['date_joined'])

In [43]:
print(df_customers.head())  
print(df_customers.info())

   user_id  gender       state  age date_joined  num_dependents family_status  \
0    26711  Female    Missouri   48  2017-01-01               3       married
1    33890  Female  New Mexico   36  2017-01-01               0        single
2    65803    Male       Idaho   35  2017-01-01               2       married
3   125935  Female        Iowa   40  2017-01-01               0        single
4   130797  Female    Maryland   26  2017-01-01               1       married

   annual_income
0         165665
1          59285
2          99568
3          42049
4          40374
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_id         206209 non-null  int64
 1   gender          206209 non-null  object
 2   state           206209 non-null  object
 3   age             206209 non-null  int64
 4   date_joined     206209 non-null  datetime64[ns]
 5   num_dependents  206209 non-null  int64
 6   family_status   206209 non-null  object
 7   annual_income   206209 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(3)
memory usage: 12.6+ MB
None

In [45]:
# Check for duplicates
duplicates = df_customers.duplicated()
print("Number of duplicate rows:", duplicates.sum())

Number of duplicate rows: 0

In [47]:
#check data type
print(df_customers.dtypes)

user_id                    int64
gender                    object
state                     object
age                        int64
date_joined       datetime64[ns]
num_dependents             int64
family_status             object
annual_income              int64
dtype: object

In [49]:
df_customers.describe()

,user_id,age,date_joined,num_dependents,annual_income
count,206209.000000,206209.000000,206209,206209.000000,206209.000000
mean,103105.000000,49.501646,2018-08-17 03:06:30.029532928,1.499823,94632.852548
min,1.000000,18.000000,2017-01-01 00:00:00,0.000000,25903.000000
25%,51553.000000,33.000000,2017-10-23 00:00:00,0.000000,59874.000000
50%,103105.000000,49.000000,2018-08-16 00:00:00,1.000000,93547.000000
75%,154657.000000,66.000000,2019-06-10 00:00:00,3.000000,124244.000000
max,206209.000000,81.000000,2020-04-01 00:00:00,3.000000,593901.000000
std,59527.555167,18.480962,NaN,1.118433,42473.786988

In [51]:
import pandas as pd

# Import the customer data
df_customers = pd.read_csv(r"C:\CareerFoundary\Achivement 4.9\data\Original Data\customers.csv")

# Check for missing values
print("Missing Values:\n", df_customers.isnull().sum())

# Check for duplicates
duplicate_rows = df_customers[df_customers.duplicated()]
print(f"Number of duplicate rows: {duplicate_rows.shape[0]}")

# Remove duplicates if found
df_customers = df_customers.drop_duplicates()

# Check data types
print("Data Types Before Conversion:\n", df_customers.dtypes)

# Convert date_joined to datetime format
df_customers['date_joined'] = pd.to_datetime(df_customers['date_joined'], errors='coerce')

# Convert age and annual_income to numeric if needed
df_customers['age'] = pd.to_numeric(df_customers['age'], errors='coerce')
df_customers['annual_income'] = pd.to_numeric(df_customers['annual_income'], errors='coerce')

# Check data types again after conversion
print("Data Types After Conversion:\n", df_customers.dtypes)

# Get summary statistics to check for outliers
print("Summary Statistics:\n", df_customers.describe())

Missing Values:
 user_id             0
First Name      11259
Surnam              0
Gender              0
STATE               0
Age                 0
date_joined         0
n_dependants        0
fam_status          0
income              0
dtype: int64
Number of duplicate rows: 0
Data Types Before Conversion:
 user_id          int64
First Name      object
Surnam          object
Gender          object
STATE           object
Age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

KeyError: 'age'

In [53]:
# Check the column names to ensure there are no issues with spaces or typos
print(df_customers.columns)

Index(['user_id', 'First Name', 'Surnam', 'Gender', 'STATE', 'Age',
       'date_joined', 'n_dependants', 'fam_status', 'income'],
      dtype='object')

In [55]:
# Rename columns for consistency and standardization
df_customers.rename(columns={
    'First Name': 'first_name',
    'Surnam': 'surname',
    'Age': 'age',
    'STATE': 'state',
    'n_dependants': 'num_dependents',
    'fam_status': 'family_status',
    'income': 'annual_income'
}, inplace=True)

# Strip any extra spaces from the column names
df_customers.columns = df_customers.columns.str.strip()

# Check the updated column names
print(df_customers.columns)

Index(['user_id', 'first_name', 'surname', 'Gender', 'state', 'age',
       'date_joined', 'num_dependents', 'family_status', 'annual_income'],
      dtype='object')

In [59]:
import pandas as pd

# Load the dataset
df_customers = pd.read_csv(r"C:\CareerFoundary\Achivement 4.9\data\Original Data\customers.csv")

# Rename columns 
df_customers.rename(columns={
    'First Name': 'first_name',
    'Surnam': 'surname',
    'Age': 'age',
    'STATE': 'state',
    'n_dependants': 'num_dependents',
    'fam_status': 'family_status',
    'income': 'annual_income',
    'Gender': 'gender'  
}, inplace=True)

# Strip any extra spaces from the column names
df_customers.columns = df_customers.columns.str.strip()

# Check the updated column names
print("Updated Columns:\n", df_customers.columns)

# Check for missing values
print("Missing Values:\n", df_customers.isnull().sum())

# Check for duplicate rows
duplicate_rows = df_customers[df_customers.duplicated()]
print(f"Number of duplicate rows: {duplicate_rows.shape[0]}")

# Remove duplicates if found
df_customers = df_customers.drop_duplicates()

# Convert 'date_joined' to datetime format
df_customers['date_joined'] = pd.to_datetime(df_customers['date_joined'], errors='coerce')

# Convert 'age' and 'annual_income' to numeric 
df_customers['age'] = pd.to_numeric(df_customers['age'], errors='coerce')
df_customers['annual_income'] = pd.to_numeric(df_customers['annual_income'], errors='coerce')

# Check data types again after conversion
print("Data Types After Conversion:\n", df_customers.dtypes)

Updated Columns:
 Index(['user_id', 'first_name', 'surname', 'gender', 'state', 'age',
       'date_joined', 'num_dependents', 'family_status', 'annual_income'],
      dtype='object')
Missing Values:
 user_id               0
first_name        11259
surname               0
gender                0
state                 0
age                   0
date_joined           0
num_dependents        0
family_status         0
annual_income         0
dtype: int64
Number of duplicate rows: 0
Data Types After Conversion:
 user_id                    int64
first_name                object
surname                   object
gender                    object
state                     object
age                        int64
date_joined       datetime64[ns]
num_dependents             int64
family_status             object
annual_income              int64
dtype: object

In [64]:
# Load the prepared Instacart data
ords_prods_merge = pd.read_pickle(r'C:\CareerFoundary\Achivement 4.9\data\Prepared Data\ords_prods_merge.pkl')

# Load the customer data (assuming it's already been cleaned and pre-processed)
df_customers = pd.read_csv(r'C:\CareerFoundary\Achivement 4.9\data\Original Data\customers.csv')

# Ensure 'user_id' column is of the same type in both dataframes 
df_customers['user_id'] = df_customers['user_id'].astype(int)
ords_prods_merge['user_id'] = ords_prods_merge['user_id'].astype(int)

# Merge the two dataframes on the 'user_id' column
combined_data = pd.merge(ords_prods_merge, df_customers, on='user_id', how='left')
print(combined_data.head())
combined_data.to_pickle(r'C:\CareerFoundary\Achivement 4.9\data\Prepared Data\combined_data.pkl')

   order_id  user_id eval_set  order_number  order_dow  order_hour_of_day  \
0   2539329        1    prior             1          2                  8
1   2539329        1    prior             1          2                  8
2   2539329        1    prior             1          2                  8
3   2539329        1    prior             1          2                  8
4   2539329        1    prior             1          2                  8

   days_since_prior_order  product_id  add_to_cart_order  reordered  ...  \
0                     0.0       196.0                1.0        0.0  ...
1                     0.0     14084.0                2.0        0.0  ...
2                     0.0     12427.0                3.0        0.0  ...
3                     0.0     26088.0                4.0        0.0  ...
4                     0.0     26405.0                5.0        0.0  ...

  order_frequency_flag First Name  Surnam  Gender    STATE Age date_joined  \
0     Regular customer      Linda  Nguyen  Female  Alabama  31   2/17/2019
1     Regular customer      Linda  Nguyen  Female  Alabama  31   2/17/2019
2     Regular customer      Linda  Nguyen  Female  Alabama  31   2/17/2019
3     Regular customer      Linda  Nguyen  Female  Alabama  31   2/17/2019
4     Regular customer      Linda  Nguyen  Female  Alabama  31   2/17/2019

  n_dependants fam_status income
0            3    married  40423
1            3    married  40423
2            3    married  40423
3            3    married  40423
4            3    married  40423

[5 rows x 29 columns]

In [65]:
# Export the combined dataframe as a pickle file
combined_data.to_pickle(r'C:\CareerFoundary\Achivement 4.9\data\Prepared Data\combined_data.pkl')
print("Combined data saved as a pickle file.")

Combined data saved as a pickle file.